.head{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 15px;
    .head a{
        text-decoration: none;
        color: white;
        border-bottom: 1px solid #FFF;
    }
}

body{
    width:100%;
}

